@{
    ViewData["Title"] = "Co-Mute Features";
}
<h1>@ViewData["Title"]</h1>

<p>What you can do on Co-Mute Platform.</p>

<br />
<ul class="list-group">
    <li class="list-group-item mb-4"><h3>Create Car Pool Opportunities</h3></li>
    <li class="list-group-item mb-4"><h3>Find Car Pool Opportunities</h3></li>
    <li class="list-group-item mb-4"><h3>Manage your Car Pool Opportunities</h3></li>
</ul>